* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border-style: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #293462;
    padding: 19.6px;
    width: 100%;
    position: fixed;
    
    

}

.menu a {
    color: #FFFFFF;
    font-size: 18.3px;
    font-family: Arial;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
    

}

@font-face {
    font-family: Odachi;
    src: url(Odachi\ 400.otf);
  }
  .logo {
    color: #9e9b9b;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    font-family: Odachi;
    letter-spacing: 5px;
    

}

.menu a:hover {
    color: rgb(9, 195, 37);
    transition: .7s ease-in-out;

}
.df{
    padding-top: 10%;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;

}
.f1{
    padding-top: 14%;
   display: flex;
   justify-content: space-around;
   

}
.f2{
   padding-top: 5%;
   display: flex;
   justify-content: space-around;
   padding-bottom: 5%;

}


.f1  div{

   height: 100px;
   width: 170px;
   background-color: rgb(14, 13, 21);
   padding: 7.4em;
   border-radius: 10px 14px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.f1 div:hover{
    background-color: rgb(31, 31, 41);
    transition: .6s ease-in-out;

      
}
.f2 div:hover{
    background-color: rgb(31, 31, 41);
    transition: .6s ease-in-out;

      
}
.f2 div{

    height: 100px;
    width: 170px;
    background-color: rgb(14, 13, 21);
    padding: 7.4em;
    border-radius: 10px 14px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
 
 }



.f1 div p {
  
    font-size: small;
    letter-spacing: 1.5px;
    text-align: left;
    margin-top: 16px;
    color: rgb(165, 181, 176);

}

.f2 div p {
  
    font-size: small;
    letter-spacing: 1.5px;
    text-align: left;
    margin-top: 16px;
    color: rgb(165, 181, 176);
}
.f1 div h2{
   
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: -100px;
    padding: 10px;
}

.f2 div h2{
   
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: -100px;
    padding: 10px;
}

.f1 img{
   height: 100px;
   width: 100px;
   align-items: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.f2 img{
    height: 100px;
    width: 100px;
    align-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }



